
.form span {
	display: block;
}

.centeredText {
	display: flex;
	background-color: #007179;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: 50vh;
	transform: translateY(-50%);
}
.centeredText h1 {
	font-size: 24px; 
	font-weight: bold;
}